<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Atrium talks to self-hosted services over the network. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Optional biometric unlock (opt-in, gated in-app). -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>

    <application
        android:label="${appName}"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:fullBackupContent="false">
        <!-- usesCleartextTraffic: self-hosted LAN services are commonly plain
             http:// on a private IP. allowBackup=false keeps credential
             material out of cloud/adb backups. -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="flutterEmbedding"
            android:value="2"/>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <package android:name="com.mb.android" />
        <package android:name="tv.emby.embyatv" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="emby" />
        </intent>
        <package android:name="org.jellyfin.mobile" />
        <package android:name="org.jellyfin.androidtv" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="jellyfin" />
        </intent>
        <package android:name="com.plexapp.android" />
    </queries>
</manifest>
